* {
    background-color: rgb(243, 240, 237);
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.botones {
    display: flex;
    align-items: center;
    justify-content: center;
}